*.userprefs
*.local.xml
*.sln.docstates
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.tss
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log

[Bb]in/
[Dd]ebug/
[Oo]bj/

*.lib
*.sbr

.vs/
.vs/*
packages/*
.idea/

# ReSharper
_ReSharper*/
*.DotSettings

# Nuget packages
/packages
*.nupkg

AssemblyDiffer/*.xml
github-breaking-changes-comments.md

